{{define "content"}}




    <div class="container mt-5 mb-5" >
            <div class="row">
                <div class="col-md-9">
                   <div class="card">
                       <div class="card-header" style="background-color: white">
                           <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, quisquam. </h4>
                       </div>
                       <div class="card-body">
                            <div>
                                <img src="/assets/img/1.jpg" style="width: 100%; height: 500px !important;" alt="">
                            </div>

                           <div style="font-family: 'Times New Roman'; font-size: 16px;" class="mt-3">
                               <hr>
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur delectus distinctio minus
                               quisquam rem rerum sunt. Accusantium cum esse, eveniet, iusto molestiae quia quod quos ratione reiciendis
                               reprehenderit tempore, temporibus unde? Alias aperiam blanditiis commodi, corporis deserunt doloribus est
                               excepturi, exercitationem incidunt iure laudantium natus nisi quod repellat sequi ut vero! At incidunt
                               inventore labore nihil quidem? Alias dolor eos neque quam quas repellendus voluptatum. Accusamus eius inventore
                               ipsam minima quisquam! A cumque dolor et excepturi iste iusto laboriosam nulla quam reprehenderit, sequi
                               suscipit velit. A beatae consectetur, cupiditate omnis perspiciatis quaerat repellendus tempore ullam.
                               Accusantium ad adipisci aperiam aspernatur at beatae blanditiis commodi consequatur corporis, dolor ducimus
                               eligendi error, eveniet illo in incidunt ipsam laboriosam magni neque officia officiis omnis quaerat quam
                               quasi quibusdam quis quisquam recusandae rem repudiandae rerum saepe sequi soluta sunt tempore voluptate
                               voluptatibus voluptatum. Deserunt doloribus ducimus natus neque nisi, quia repellendus sapiente sed!
                               Accusantium ad eligendi est eveniet laudantium nobis praesentium rem, sunt suscipit voluptatum. Culpa
                               cum est iste nulla rem soluta tenetur velit! A ab alias aliquid, aperiam aspernatur aut consectetur

                         
                               ipsa labore nemo neque nihil pariatur possimus praesentium quia quisquam sequi sunt tenetur velit veniam
                               voluptas. Ab adipisci assumenda at, consectetur corporis culpa cupiditate dignissimos distinctio dolore dolores
                               dolorum earum et eum excepturi in iste laboriosam laborum minus modi molestiae nesciunt, nihil nisi officiis
                               optio perspiciatis quas quasi quia, quidem quod recusandae repudiandae saepe sapiente sed tempora tenetur vitae
                               voluptatum? Autem hic itaque sed voluptates! Accusamus animi architecto atque aut blanditiis consectetur, cum
                               dolor dolorem doloremque ducimus eos facere facilis hic labore maiores mollitia nam neque nesciunt odio omnis
                               provident recusandae repellat sint tempora tenetur unde vel velit veritatis vero vitae. Alias aperiam
                               architecto asperiores beatae blanditiis consequatur earum, error eum impedit itaque iure minus mollitia
                               officiis perspiciatis reiciendis totam ullam vel vitae voluptatem voluptatum. Alias autem beatae dolorem
                               ducimus, earum enim et facere itaque nisi non obcaecati officia quod tempore unde voluptate. Accusamus
                               autem dicta harum illum impedit ipsum itaque, iusto labore modi nemo non perferendis perspiciatis porro
                               possimus, praesentium quisquam ut vitae voluptatum? Amet atque, blanditiis, consequuntur culpa distinctio
                               dolorem excepturi impedit incidunt laudantium molestias mollitia nesciunt porro possimus quasi quis quos
                               similique sint temporibus unde velit. Ab animi assumenda beatae, consectetur consequatur corporis, cum cumque
                               delectus deleniti dignissimos eligendi eos error eum ex harum incidunt ipsam iure magnam maxime necessitatibus nemo nisi
                               numquam odio officiis optio perspiciatis quas quibusdam quisquam quod quos sequi sit sunt tempore totam ut voluptas voluptatum!
                               Alias atque consequuntur delectus deserunt distinctio doloribus ea est fuga, magnam modi nobis officia possimus quaerat quo sit
                               tenetur vitae voluptas. Aut deserunt dolor fugit laborum modi nemo quaerat quod similique velit! Animi, consectetur consequatur
                               distinctio ducimus excepturi exercitationem fugit id ipsam labore maxime modi nemo numquam possimus repellendus sed, sint voluptatum!
                               Ab blanditiis cum, dicta dolorem ea eligendi esse fugiat id ipsum iste iusto, labore odit, reprehenderit sint velit. Accusamus
                               assumenda consectetur eaque eveniet, nisi officiis saepe. Architecto aut deleniti eaque iure porro? Doloremque ea ex expedita maiores
                               neque tempora, tenetur voluptas voluptatum. Accusantium nemo, ratione. Aperiam beatae illum laudantium mollitia nisi non officiis
                               perspiciatis rerum saepe? Atque eligendi, esse exercitationem facilis impedit ipsam laborum laudantium non provident quasi quo
                               recusandae repellendus, totam. Atque blanditiis, consectetur ea exercitationem fugiat magnam voluptatem. Commodi doloribus ex
                               fugiat illo porro. Architecto asperiores consectetur cum deleniti dicta dolor dolores ducimus facilis id ipsum labore libero,
                               nulla quidem, soluta suscipit voluptatem voluptates? Aliquam aliquid architecto asperiores beatae consectetur, culpa delectus
                               deleniti dicta earum eius eligendi error esse explicabo fugiat illum ipsa iste laboriosam magni minus mollitia natus necessitatibus
                               nostrum, praesentium qui quia quidem quo quod sapiente suscipit tempora unde vel velit vitae. Accusamus assumenda aut commodi eum ex
                               facilis fuga, harum illo iste magnam numquam odit porro quidem tempora vero. Aliquid deserunt excepturi magnam nihil obcaecati qua
                               s recusandae repellat sint
                               tenetur vitae? A alias aliquam amet animi, architecto asperiores dolorem ducimus eligendi eveniet, expedita explicabo id
                               impedit incidunt, ipsam iste labore laboriosam magnam modi molestiae mollitia neque nihil odio pariatur porro quasi qui
                               quisquam reiciendis saepe sapiente similique totam vero voluptas voluptatem. Dolorum inventore laborum modi sapiente.
                               At commodi consequatur cupiditate dolorum, inventore ipsam nesciunt sapiente sequi sit velit. At debitis dignissimos d
                               ucimus ea earum eos esse ex expedita in iusto porro quis, reiciendis repudiandae sit, soluta temporibus voluptatem voluptatum!
                               Aliquid asperiores eligendi ipsum magni numquam.s
                           </div>

                       </div>

                   </div>
                </div>


                <div class="col-md-3">
                    <ul class="list-group">
                        <li class="list-group-item active" aria-current="true"><b style="font-size: 18px;"> Kategoriýalar</b></li>
                        <li class="list-group-item" >
                            <a href="#" style="text-decoration: none; color: black;font-size: 18px; ">Kategoriýa 1</a>
                        </li>
                        <li class="list-group-item" >
                            <a href="#" style="text-decoration: none; color: black;font-size: 18px; ">Kategoriýa 2</a>
                        </li>
                        <li class="list-group-item" >
                            <a href="#" style="text-decoration: none; color: black;font-size: 18px; ">Kategoriýa 3</a>
                        </li>
                        <li class="list-group-item" >
                            <a href="#" style="text-decoration: none; color: black;font-size: 18px; ">Kategoriýa 4</a>
                        </li>
                        <li class="list-group-item" >
                            <a href="#" style="text-decoration: none; color: black;font-size: 18px; ">Kategoriýa 5</a>
                        </li>
                        <li class="list-group-item" >
                            <a href="#" style="text-decoration: none; color: black;font-size: 18px; ">Kategoriýa 6</a>
                        </li>
                        <li class="list-group-item" >
                            <a href="#" style="text-decoration: none; color: black;font-size: 18px; ">Kategoriýa 7</a>
                        </li>
                        <li class="list-group-item" >
                            <a href="#" style="text-decoration: none; color: black;font-size: 18px; ">Kategoriýa 8</a>
                        </li>


                    </ul>
                </div>
                    </div>
                </div>
            </div>
    </div>



    {{/* card */}}



{{end}}